<!DOCTYPE html>
<html>
<head>
    <title>ERROR</title>
    <link rel="stylesheet" type="text/css" href="vs.css">
</head>
<body style="margin:0px;">
	<div class="mars"></div>
<img src="assets/Images/401.jpg" class="logo-401" />
<img src="https://assets.codepen.io/1538474/meteor.svg" class="meteor" />
<p class="title">Oh no!!</p>
<p class="subtitle">
	Unauthorized<br /> 
</p>
<div align="center">
	<a class="btn-back" href="#">Back to previous page</a>
</div>
<img src="https://assets.codepen.io/1538474/astronaut.svg" class="astronaut" />
<img src="https://assets.codepen.io/1538474/spaceship.svg" class="spaceship" />
</body>
</html>