<!DOCTYPE html>
<html>
<head>
    <title>Enternal Server Error</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
    <div class="container">
        <img src="https://i.postimg.cc/8CwPZZ63/Dpr-Q1m-SU4-AA-Tcv-removebg-preview.png" />
  
        <h1>
          <span>500</span> <br />
          Internal server error
        </h1>
        <p>We are currently trying to fix the problem.</p>
        <p class="info">
          Illustration taken from
          <a href="http://www.manojcse.me" target="_blank"
            >Manoj Kumar</a
          >
        </p>
      </div>
</body>
</html>